<!DOCTYPE html>
 </html>
 <head>
 <meta charset="utf-8">
	   <?php
$oneplus_seo_meta = get_seo_meta($vars,$seo);
?>
<if condition="$oneplus_seo_meta['title']">
    <title>{$oneplus_seo_meta['title']}</title>
    <else/>
    <title>{:C('WEB_SITE_TITLE')}</title>
</if>
<if condition="$oneplus_seo_meta['keywords']">
    <meta name="keywords" content="{$oneplus_seo_meta['keywords']}"/>
</if>
<if condition="$oneplus_seo_meta['description']">
    <meta name="description" content="{$oneplus_seo_meta['description']}"/>
</if>
     <meta name="format-detection" content="telephone=no" /> 
     <meta content="email=no" name="format-detection">
     <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
     <link rel="stylesheet" type="text/css" href="__PUBLIC__/Wap/assets/css/base.css"/>
     <link rel="stylesheet" href="__PUBLIC__/Wap/assets/css/second.css">
     <script src="__PUBLIC__/Wap/assets/js/jquery-1.8.1.min.js"></script>
     <script>
	 	$(function(){
			$(".snav").click(function(){
				$("header").toggleClass("leftspacing",200);
				$(".mainbox").toggleClass("leftspacing",200);
				$(".foot_nav").toggleClass("leftspacing",200);
				$("nav").toggle();
				})
			})
	 </script>
 </head>
 <body>
 
  <nav>
    <dl>
	    
        <dt><a href="{:U('Wap/Goods/dateils',array('id'=>$cate['cat_id']))}">{$cate['cat_name']}</a></dt>
		
        <dd>
		 <volist name="second" id="v">
            <a href="{:U('Wap/Goods/second',array('id'=>$v['cat_id']))}">{$v['cat_name']}</a>
			</volist>
            
        </dd>
    </dl>
</nav>

<div class="mainbox" style="position:relative;">
 	<!--头部-->
	<header>
        <a class="back" onclick="history.go(-1)"></a>
		<h2>{$cate['cat_name']}</h2>
        <a class="snav"></a>
	</header>
	
    <!--搜索-->
	<section class="search">
    	<form action="{:U('Wap/Goods/second')}" method="get" onsubmit="return check()">
	    
    	<input type="text" name="keywords" placeholder="输入您想搜索的内容" value="{$keywords}">
		<input type="hidden" name="id" value="{$id}"/>
		<input type="submit" value="搜索">
    </form>
	<script>
	function check(){
	 var keywords=$("input[name='keywords']").val();
	 if(keywords==""){
	   layer.msg("搜索内容不能为空");
	   return false;
	 }
	}
	
	</script>
    </section>
    <div class="secondon">{$id|getprotypename}</div>
	<section class="video_list">
	<volist name="vimeo" id="v">
    	<dl><a href="{:U('Wap/Vimeo/index',array('id'=>$v['id']))}">
        	<dt><img src="{$v.image}" alt=""></dt>
            <dd><p>{$v.title}</p><b>{$v.content|mb_substr=0,20,'utf-8'}</b></dd></a>
        </dl>
	</volist>
       
        
    </section>
	
	
</div>
	
 </body>
 </html>