



<div class="msg-wrap clear">
    <!--<div class="msg1 clear">-->
        <!--<h1 class="iconfont fl">&#xe635;</h1>-->
        <!--<nav class="fl">-->
        <!--<h4>数据统计</h4>-->
        <!--</nav>-->
    <!--</div>-->
   <!--  <div class="msg2 clear">
        <h1 class="iconfont fl">&#xe63c;</h1>
        <nav class="fl">
        <h4>全部老师</h4>
        <h5>共<span>{$teacher_count}</span>位老师</h5>
            </nav>
    </div> -->
    <!-- <div class="msg3 clear">
        <h1 class="iconfont fl">&#xe605;</h1>
        <nav class="fl">
        <h4>全部机构</h4>
        <h5>共<span>{$school_count}</span>家机构</h5>
            </nav>
    </div> -->
    <!-- <div class="msg4 clear">
        <h1 class="iconfont fl">&#xe618;</h1>
        <nav class="fl">
        <h4>全部课程</h4>
        <h5>共<span>{$curriculum_count}</span>门课程</h5>
            </nav>
    </div> -->
    <!--<div class="msg5 clear">-->
        <!--<h1 class="iconfont fl">&#xe639;</h1>-->
        <!--<nav class="fl">-->
            <!--<h4>全部订单</h4>-->
            <!--<h5>共<span>{$student_count}</span>份订单</h5>-->
         <!--</nav>-->

    <!--</div>-->
    <!--<div class="msg6 clear">-->
        <!--<a href="{:U('')}"><h1 class="iconfont fl">&#xe61d;</h1>-->
        <!--<nav class="fl">-->
            <!--<h4>CRM（老师管理）</h4>-->
        <!--</nav>-->
            <!--</a>-->
    <!--</div>-->
    <!--<div class="msg7 clear">-->
        <!--<h1 class="iconfont fl">&#xe6da;</h1>-->
        <!--<nav class="fl">-->
        <!--<h4>今日新增</h4>-->
        <!--<h5><span>{$newadd_teacher}</span>订单</h5>-->
            <!--</nav>-->
    <!--</div>-->
    <div class="msg7 clear">
    <!--<h1 class="iconfont fl">&#xe6da;</h1>-->
    <nav class="fl">
    <h4>您好{$_SESSION['user_id']|getuserrealname},欢迎回来</h4>
    <!--<h5><span>{$newadd_teacher}</span>订单</h5>-->
    </nav>
    </div>



</div>
</body>
</html>


