	

<link rel="stylesheet" href="__PUBLIC__/admin/assets/js/daterangepicker/daterangepicker-bs3.css">
  
<script src="__PUBLIC__/admin/assets/js/daterangepicker/daterangepicker.js"></script>
<script src="__PUBLIC__/admin/assets/js/datepicker/bootstrap-datepicker.js"></script>


			<div class="row">
				<div class="col-sm-12">

					<div class="panel panel-default">
						<div class="panel-heading">主页楼层广告图片添加 -- Index Ads Add</div>
						<div class="panel-body">
							<div class="col-sm-2">
							
								<a href="{:U('Ad/zylist')}"><button class="btn btn-success">广告列表 -- AD List</button></a>
							</div>
						</div>
					</div>	
				</div>
			</div>

			<div class="row">
				<div class="col-sm-12">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">主页楼层广告图片添加 -- Index Ads Add</h3>
							<div class="panel-options">
								<a href="#" data-toggle="panel">
									<span class="collapse-icon">&ndash;</span>
									<span class="expand-icon">+</span>
								</a>
								<a href="#" data-toggle="remove">
									
								</a>
							</div>
						</div>
						<div class="panel-body">
							<form  role="form" class="form-horizontal" return false>
							<input type="hidden" id="id" value="{$zyads.id}">
								<div class="form-group-separator"></div>
								
								<div class="form-group has-success">
									<label class="col-sm-2 control-label" for="field-6">广告所属楼层</label>
									
									<div class="col-sm-10">
								                        <select class="form-control" name="type">
								                        <if condition="$zyads['type'] eq 1">
															<option value="1">供应产品</option>
														<elseif condition="$zyads['type'] eq 2"/>
															<option value="2">竞价采购</option>
														<elseif condition="$zyads['type'] eq 3"/>
															<option value="3">挂牌采购</option>
														</if>            
								                        <option value="1">供应产品</option>
								                        <option value="2">竞价采购</option>
								                        <option value="3">挂牌采购</option>
                                                        </select>
                                    </div>
								</div>

								<div class="form-group-separator"></div>
								<div class="form-group has-error">
									<label class="col-sm-2 control-label" for="field-10">广告图片上传</label>
									
							    <div class="col-sm-10">
								<div class="col-sm-4">
								<empty name="zyads.img1">
                             	<else/>
                             	<img src="__ROOT__/Uploads/{$zyads.img1}" style="width:99px;height:80px;" id="upload_pic" path="{$zyads.img1}"/>
               				    </empty>
								</div>
                                <div class="col-sm-3">
								<input  type="file" id="files" name='upload' data-url="{:U('Ad/upload')}" style="width:200px">
								</div>
								</div>
								</div>
								
								<div class="form-group-separator"></div>
								<div class="form-group has-error">
									<label class="col-sm-2 control-label" for="field-10">广告图片上传</label>
									
							    <div class="col-sm-10">
                                <div class="col-sm-4">
                                <empty name="zyads.img2">
                             	<else/>
                             	<img src="__ROOT__/Uploads/{$zyads.img2}" style="width:99px;height:80px;" id="upload_pic2" path="{$zyads.img2}"/>
               				    </empty>
								</div>
                                <div class="col-sm-3">
								<input  type="file" id="files2" name='upload' data-url="{:U('Ad/upload')}" style="width:200px">
								</div>
								</div>
								</div>
								

								<div class="form-group-separator"></div>
								<div class="form-group has-error">
									<label class="col-sm-2 control-label" for="field-10">广告图片上传</label>
									
							    <div class="col-sm-10">
                                <div class="col-sm-4">
                                <empty name="zyads.img3">
                             	<else/>
                             	<img src="__ROOT__/Uploads/{$zyads.img3}" style="width:99px;height:80px;" id="upload_pic3" path="{$zyads.img3}"/>
               				    </empty>
								</div>
                                <div class="col-sm-3">
								<input  type="file" id="files3" name='upload' data-url="{:U('Ad/upload')}" style="width:200px">
								</div>
								</div>
								</div>
								

								<div class="form-group-separator"></div>
								<div class="form-group has-warning">
									<label class="col-sm-2 control-label" for="field-12">广告排序</label>
									
							    <div class="col-sm-10">
							    	<input class="form-control" type="text" id="sort"  name="sort" value="{$zyads.sort}">
								</div>
								</div>
								<div class="form-group-separator"></div>
								<div class="form-group">
									
									
								</div>
							</form>
							<input type="submit" onclick="poszyads()" class="btn btn-info btn-single pull-right" value="确认编辑">
						</div>
					</div>
				</div>
			</div>


	<script src="__PUBLIC__/admin/assets/js/jquery-file-upload/js/vendor/jquery.ui.widget.js"></script>
	
	<script src="__PUBLIC__/admin/assets/js/jquery-file-upload/js/vendor/load-image.min.js"></script>
	
	<script src="__PUBLIC__/admin/assets/js/jquery-file-upload/js/vendor/canvas-to-blob.min.js"></script>
	
	<script src="__PUBLIC__/admin/assets/js/jquery-file-upload/js/jquery.iframe-transport.js"></script>
	
	<script src="__PUBLIC__/admin/assets/js/jquery-file-upload/js/jquery.fileupload.js"></script>
	
	<script src="__PUBLIC__/admin/assets/js/jquery-file-upload/js/jquery.fileupload-process.js"></script>
	
	<script src="__PUBLIC__/admin/assets/js/jquery-file-upload/js/jquery.fileupload-ui.js"></script>


	<script type="text/javascript">


  $(function () {  
            //文件上传地址   
           //var url = 'http://localhost/index.php/upload/do_upload';   
           //初始化，主要是设置上传参数，以及事件处理方法(回调函数)   
           $('#files').val('');
           $('#files').fileupload({  
             autoUpload: true,//是否自动上传   
                //url: url,//上传地址   
               dataType: 'json',  
                done: function (e, data){
                  
                    $('#files').parent().prev("div.col-sm-4").html('<img src="__ROOT__/Uploads/'+data.result.path+'" style="width:99px;height:80px;"  id="upload_pic" path="'+data.result.path+'"/>')
               },
               complete:function(){
                          
                        }
            });  
        }); 
			
</script>

<script type="text/javascript">


  $(function () {  
            //文件上传地址   
           //var url = 'http://localhost/index.php/upload/do_upload';   
           //初始化，主要是设置上传参数，以及事件处理方法(回调函数)   
           $('#files2').val('');
           $('#files2').fileupload({  
             autoUpload: true,//是否自动上传   
                //url: url,//上传地址   
               dataType: 'json',  
                done: function (e, data){
                  
                    $('#files2').parent().prev("div.col-sm-4").html('<img src="__ROOT__/Uploads/'+data.result.path+'" style="width:99px;height:80px;"  id="upload_pic2" path="'+data.result.path+'"/>')
               },
               complete:function(){
                          
                        }
            });  
        }); 
			
</script>

<script type="text/javascript">


  $(function () {  
            //文件上传地址   
           //var url = 'http://localhost/index.php/upload/do_upload';   
           //初始化，主要是设置上传参数，以及事件处理方法(回调函数)   
           $('#files3').val('');
           $('#files3').fileupload({  
             autoUpload: true,//是否自动上传   
                //url: url,//上传地址   
               dataType: 'json',  
                done: function (e, data){
                  
                    $('#files3').parent().prev("div.col-sm-4").html('<img src="__ROOT__/Uploads/'+data.result.path+'" style="width:99px;height:80px;"  id="upload_pic3" path="'+data.result.path+'"/>')
               },
               complete:function(){
                          
                        }
            });  
        }); 
			
</script>
			
	

<script>


 // var name=$("#name").val();

 // var reg =/^1((3[2-9])||(7[4-9])||(5[0-9])||(5[0-9])||(8[0-9])||(82))\d{8}$/g;
 // var reg1=/^\w+@\w+(\.\w+)+$/;
 // var reg2=/^[1-9]\d{5}$/;
 // var reg3=/^(http|https):\/\/([\w-]+\.)+[\w-]+(\/[\w-.\/?%&=]*)?$/;
 // var reg4=new RegExp(/^([\u4E00-\uFA29]*[a-z]*[A-Z]*[0-9]*\s*)+$/g);

function poszyads(){
 var id=$('#id').val();
 var img1=$('#upload_pic').attr('path');
 var img2=$('#upload_pic2').attr('path');
 var img3=$('#upload_pic3').attr('path');
 var sort=$('#sort').val();
 var type=$("#type").val();
if(sort==''){
	bootbox.alert("排序不能为空");
	return false;
}

        $.ajax({
            type: "post",
            url: "{:U('Ad/upzyads')}",
            data: {
            	id: id,
            	type: type,
            	img1: img1,
            	img2: img2,
            	img3: img3,
            	sort: sort 
            },
            dataType: 'json',
            success: function (dat) {  

 								if(dat.status==1){
                                    bootbox.alert('编辑成功');
									var url="{:U('Ad/zylist')}";
                                    window.location.href=url;
                                }else{
                                    bootbox.alert('编辑失败');
                                }

                            }


        });

}


</script>
